/*.close-btn {
  font-size: 24px;
  color: red;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: darkred;
}*/

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {
    padding: 2px 16px;
    max-width: 100%;
    overflow-x: auto;
  }
  
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%!important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  #myModal img{
    /*width: 100%;*/
    height: 200px;
    max-width: 100%;
    max-height: 384px;
  }