td {
    border: 1px solid black;
    column-gap: 100px;
    height: 25px;
    width: 100px;
    
    
}
table{
    border-collapse: separate;
    border-spacing: 25px 0;
}
#bloque{
    height: 25px;
    width: 100px;
   
}
#seguridad{
    background-color: yellow;
}
#paridad{
    background-color: blue;
}
